section {
	margin: 50px;
	color: #008080ff;
}

a {
	text-decoration: none;
	color: #008080ff;
}

.gras {
	font-weight: 600;
}

.cards {
	width: 1200px;
}

.card {
	height: 250px;
}

.categorie {
	width: 200px;
	height: 200px;
	object-fit: cover;
	margin-bottom: 100px;
}

.morceau {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.track {
	display: flex;
	align-items: center;
	margin: 20px 0;
}

h1 {
	font-size: 50px;
	margin-left: 50px;
	text-transform: capitalize;

}

h3 {
	margin: 0 30px;
}

td {
	padding: 20px;
}
