#contener {
	flex-direction: column;
}

.card-img-top {
    width: 20%;
    height: 20%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-right: 5%;
    margin-bottom: 15%;
}

.submit {
    background: none;
    border: 1px solid #008080ff;
    color: #008080ff;
}