body, html {
	margin: 0;
	height: 100%;
	
}

body {
	display: flex;
	font-family: calibri;
	color: #008080ff;
}

a {
	text-decoration: none;
    color: #008080ff;
}

section {
	width: 100%;
}

nav {
	margin-top: 30%;
}

/*images*/
.icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.element {
    display: flex;
    margin: 20px 0;
    align-items: center;
}

.element a {
	font-size: 30px;
    font-weight:200;
    color: white;
}

#logo {
	height: 150px;
}

#connexion {
	text-align: end;
	position: fixed;
	width: 100%;
    background-color: white;
}

#connexion a {
    margin: 1%;
}

.bttn {
    color: white;
    background-color: #008080ff;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    margin: 30px 0;
    padding: 10px;
    border:none;
}

#contener {
    display: flex;
   	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 6%;
    padding-left: 20%;
}

#menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #008080ff;
	position: fixed;
	height: 100%;
    z-index: 1;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    margin: 20px;
    width: 200px;
}
 .card a {
     font-weight: 400;
 }

.card img {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.card h2, .card h3 {
	text-align: center;
}

.imgindex {
    width: 200px;
    height: 200px;
}

.flex {
    display: flex;
}