body {
    font-family: calibri;
    margin:0;
    height: 100vh;
}

/*background-colors*/
.background1 {
    background-color: #008080ff ;
}

.background2 {
    background-color: #e6e6e6ff;
}

.background3 {
    background-color: #f2f2f2ff;
}
.background4 {
    background-color: white;
}

/*colors*/
.color1 {
    color: #008080ff;
}

.color2 {
    color: #e6e6e6ff;
}

.color3 {
    color: #f2f2f2ff;
}
.color4 {
    color: white;
}

/* FONT SIZE */
.size-small {
	font-size: 1rem;
}
.size-medium {
	font-size: 1.5rem;
}
.size-large {
	font-size: 2rem;
}
.size-extra-large {
	font-size: 2.5rem;
}
/*font-family*/
.police{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*positionnement*/
.flex {
    display: flex;
}

.flex-center, .flex-center-col {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-center-col {
	flex-direction: column;
}
.justify-flex-start {
	justify-content: flex-start;
}
.align-flex-start {
	align-items: flex-start;
}
.justify-flex-end {
	justify-content: flex-end;
}
.align-flex-end {
	align-items: flex-end;
}
.text-align {
	text-align: center;
}
.around { 
    justify-content: space-around;
}


/*elements*/
textarea {
    border-color: #008080ff;
}
.bttn1 {
    color: white;
    background-color: #008080ff;
    border-radius: 20px;
    text-decoration: none;t
}

.bttn2 {
    color: white;
    background-color: #008080ff;
    border-radius: 20%;
    border: 2px solid white;
}
input {
    background-color: #f2f2f2ff ;
    border-radius: 25%;
}

/*largeur et longueur de contenu*/
.width1 {
    width: 400px;
}
.height {
    height: 200px ;
    margin-left: 0px;
}
.height1 {
    height: 60px ;
}

.width2 {
    width: 235px;
}
.width3 {
    width: 1174px;
}


/*liens*/
.a1 {
    text-decoration: none;
    color: white;
}

.a2{
    text-decoration: none;
    color: #008080ff;
}

/*images*/
.icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.imgindex {
    height: 200px;
    width: 200px;
}

.icon1 {
    background-color: #008080ff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.imguser {
    border-radius: 50%;
}


nav {
    width: 300px;
    padding-left: 50px;
 }

.element {
    display: flex;
    margin: 20px 0;
    align-items: center;
     font-size: 30px;
     font-weight:200;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.connexion {
    height: 50px;
    justify-content: right;
    align-items: center;
}

.contener {
    width: 100%;
}

.cards {
    justify-content: center;
    padding: 40px;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    margin: 20px;
}

.card img {
    border-radius: 20px 20px 0 0;
}

h2, h3 {
    text-align: center;
    color: #008080ff;
}

.connexion a {
     margin: 10px 20px;
     height: 30px;
     width: 130px;
     line-height: 30px;
     text-align: center;
}

#precedent {
    background-image: url('icones/precedent.svg');
    width: 100px;
    height: 100px;
    background-size: cover;
}

.cards::before {
    content: "";
    background-image: url('/icones/precedent.svg');
    background-size: cover;
    width:100px;
    height: 100px;
    position: absolute;
    top: 400px;
    left: 400px;

}

.cards::after {
    content: "";
    background-image: url('/icones/suivant.svg');
    background-size: cover;
    width:100px;
    height: 100px;
    position: absolute;
    top: 400px;
    right: 100px;

}

#suivant {
    background-image: url('icones/suivant.svg');
    width: 100px;
    height: 100px;
    background-size: cover;
}

