table {
	margin-top: 10%;

}

th {
	text-align: start;
}

td img {
	width: 100px;
}

#contener {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    width: 50%;
}

.categorie {
    width: 200px;
    margin-right: 50px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    font-size: 3em;
}

.head {
    margin-top: 50px;
    align-items: center;
}

.icone {
    background-color: #008080ff;
    border-radius: 50%;
    padding: 5px;
    height: 30px;
    width: 30px;
}

@media (max-width:1024px) {

    #contener {
        padding-left: 25%;
    }
}

@media (max-width:768px){

    #contener {
        padding-left: 35%;
    }
}