body {
    font-family: calibri;
    margin:0;
    height: 100vh;
    overflow-y: hidden;
}



/*background-colors*/
.background1 {
    background-color: #008080ff ;
}

.background2 {
    background-color: #e6e6e6ff;
}

.background3 {
    background-color: #f2f2f2ff;
}
.background4 {
    background-color: white;
}

/*colors*/
.color1 {
    color: #008080ff;
}

.color2 {
    color: #e6e6e6ff;
}

.color3 {
    color: #f2f2f2ff;
}
.color4 {
    color: white;
}

/* FONT SIZE */
.size-small {
    font-size: 1rem;
}
.size-medium {
    font-size: 1.5rem;
}
.size-large {
    font-size: 2rem;
}
.size-extra-large {
    font-size: 2.5rem;
}
/*font-family*/
.police{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*positionnement*/
.flex {
    display: flex;
}

.flex-center, .flex-center-col {
    display: flex;
    align-items: center;
    padding-top: 100px;
    height: 100vh;
}
.flex-center-col {
    flex-direction: column;
}
.justify-flex-start {
    justify-content: flex-start;
}
.align-flex-start {
    align-items: flex-start;
}
.justify-flex-end {
    justify-content: flex-end;
}
.align-flex-end {
    align-items: flex-end;
}
.text-align {
    text-align: center;
}
.around { 
    justify-content: space-around;
}


/*elements*/
textarea {
    border-color: #008080ff;
}
.bttn1 {
    color: white;
    background-color: #008080ff;
    border-radius: 20%;
    border: 2px solid #008080ff;
}
.bttn2 {
    color: white;
    background-color: #008080ff;
    border-radius: 20%;
    border: 2px solid white;
}

input {
    width: 470px;
    height: 40px;
    border-radius: 20px;
    margin: 20px;
    border: none;
    background-color: #f2f2f2ff;
}

/*largeur et longueur de contenu*/
.width1 {
    width: 500px;
    padding: 30px;
    border-radius: 30px;
}

.height {
    height: 200px ;
    margin-left: 0px;
}
.height1 {
    height: 60px ;
}

.width2 {
    width: 235px;
}
.width3 {
    width: 1174px;
}


/*liens*/
.a1 {
    text-decoration: none;
    color: white;
}

.a2{
    text-decoration: none;
    color: #008080ff;
}
a {
    text-decoration: none;
}

/*images*/
.icon {
    height: 15px;
    width: 15px;
}

.imgindex {
    height: 200px;
    width: 200px;
}

.icon1 {
    background-color: #008080ff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.imguser {
    border-radius: 50%;
}
 button {
    background: none;
    border: 1px solid white;
    color: white;
    border-radius: 20px;
 }

.connexion {
    padding: 20px;
    border-radius: 30px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.h-100 {
    height: 100vh;
}

.submit {
    background:  #008080ff;
    border: 1px solid white;
    color: white;
    font-size: 25px;
}

.text-center {
    text-align: center;
}

label {
    font-size: 25px;
}