table {
	margin-top: 10%;

}

th {
	text-align: start;
}

td img {
	width: 100px;
}

#contener {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    width: 50%;
    
}

.categorie {
    width: 200px;
    margin-right: 50px;
    height: 200px;
    border-radius: 50%;
}

h1 {
    font-size: 3em;
}

.head {
    margin-top: 50px;
    align-items: center;
}