#contener {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-top: 5%;
    padding-right: 20%;
}

.imguser {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 10%;
    
}

#presentation {
    margin-top: 10%;
}

#playlists {
    margin-top: 30px;
}

#playlists img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.playlist {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.playlist a {
    margin-left: 20px;
}

.modifier {
    color: white;
    background-color: #008080ff;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    margin: 30px 0;
    padding: 10px;
    border: none;
    width: 20%;
    text-align: center;
}

/** Responsive **/

@media (max-width:1024px){

    #contener {
        padding-left: 25%;
        margin-top: 10%;
    }
}

@media (max-width:768px){

    #contener {
    padding-left: 35%;
    margin-top: 15%;
    }   
}

